*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #1a0327;
    font-family: sans-serif;
    height: 350vh;
}
.container{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.404),rgba(0, 0, 0, 0.356)),url('background/back.jpg');
    background-position: center;
    background-size: cover;

}
header{
    width: 100%;
    height: 10vh;
    background-position: rgba(0,0,0,0.5);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 300px;
    height: 10vh;
    background: #550381;
    display: flex;
    align-items: center;
    color: #fff;
    clip-path: polygon(0 0,100% 0, 64% 100%, 0% 100%);
    padding: 10px;
    line-height: 1.3rem;
}
.logo .fas{
    font-size: 50px;
}

.logo p{
    width: 150px;
    margin-left: 10px;
    font-size: 20px;

}
.navbar{
    display: flex;

}

.navbar li{
    width: 120px;
    font-size: 20px;
}

.navbar li a{
    text-decoration: none;
    color: white;
    font-weight: 200;
}

.navbar li a.active {
    color:orange
}

ul.navbar li a:hover:not(.active){
    color: orange;
}
#btn{
    width: 250px;
    height: 10vh;
    background: orange;
    color: black;
    border: none;
    outline: none;
    clip-path: polygon(35% 0,100% 0, 100% 100%, 0% 100%);
    font-size: 1.2rem;
    text-align: right;
    padding-right: 40px;
    font-weight: 700;
}

#btn .fas{
    margin-right: 10px;
   
}

/* .....header end........ */
.content-wrap{
    width: 80%;
    min-height: 80vh;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFF;


}
.content-desc h1{
   
   margin-bottom: 10px;
    font-size: 3rem;

}
.content-desc p{
    font-family: "Audiowide", sans-serif;
    width: 550px;
    font-size: 1.3rem;
    line-height: 2rem;
    margin-bottom: 10px;
}
.content-desc span{
    color:orange;
}
#btn-2{
    width: 350px;
    height: 10vh;
    padding-left: 20px;
    outline: none;
    border: none;
    background: orange;
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    margin-top: 15px;
    clip-path: polygon(0 0,74% 0, 100% 100%, 0% 100%);
    border-radius: 20px;
    text-align: left;
    cursor: pointer;
}
.rukuto{
    width: 400px;
    height: 400px;
    background: linear-gradient(rgba(2, 2, 39, 0.849),rgba(204, 115, 14, 0.575));
    position: relative;
}
.rukuto::after{
    content: "";
    width: 400px;
    height: 400px;
    background: url('background/1648622013820.png');
    background-size: cover;
    background-position: center;
    position: absolute;
    bottom: 0;
    left: -150px;
}

/* contecnt sectio end  */

.logo-section{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0;

}
.logo-section h1{
    
    width: 300px;
    font-size: 2rem;
    color: orange;
   
}
.logo-section .fas{
    font-size: 6rem;
    color: orange;
}


.section-1{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.616),rgba(0, 0, 0, 0.562)),url('background/back2.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

}

.section-1-wrap{
    width: 70%;
    margin: auto;
}
.section-1-wrap h1{
    margin: 50px 0;

}
.section-1 h1{
    
    font-size: 1.5rem;
    color: orange;
    font-weight: 450;

}

.section-1-wrap{
    padding-top: 20px;
}

.section-1-img{
    display: flex;
}

.section-1-img .img{
    width: 100px;
    height: 130px;
    background: url('background/jumanji.png');
    background-size: cover;
    background-position: center;
    margin-right: 10px;
    border-radius: 10px;
}

.section-1-img .img-2{
    background: url('background/pubg.jpg');
    background-size: cover;
    background-position: center;
}

.section-1-img .img-3{
    background: url('background/mario.jpg');
    background-size: cover;
    background-position: center;
}

.section-1-img .img-4{
    background: url('background/free\ fire.jpg');
    background-size: cover;
    background-position: center;
}

.section-1-img .img-5{
    background: url('background/spiderman.jpg');
    background-size: cover;
    background-position: center;
}

.section-1-img .img-6{
    background: url('background/mario.jpg');
    background-size: cover;
    background-position: center;
}

.section-1-img .img-7{
    background: url('background/spiderman.jpg');
    background-size: cover;
    background-position: center;
}
.section-1-img .img-8{
    background: url('background/pubg.jpg');
    background-size: cover;
    background-position: center;
}
.img:hover{
    transform: translatey(-20px);
}

/* <!-- section end here --> */

.game-categiri{
    width: 70%;
    margin: auto;
    position: relative;
}

.game-categiri h1{
    font-size: 1.5rem;
    margin: 30px 0;
    color: orange;
}

.game-wrap{
    display: flex;
}
.gw{
    width: 120px;
    height: 120px;
    background: url('background/cars.jpg');
    background-size: cover;
    background-position: center;
    margin-right: 10px;
    margin-bottom: 30px;
    border-radius: 10px;
}
.gw:hover{
    transform: translatey(-20px);
}

.left{
    position: relative;
    right: -140px;
}

.gw-1{
    background: url('background/cars.jpg');
    background-size: cover;
    background-position: center;
}
.gw-2{
    background: url('background/car2.jpg');
    background-size: cover;
    background-position: center;
}
.gw-3{
    background: url('background/cars.jpg');
    background-size: cover;
    background-position: center;
}
.gw-4{
    background: url('background/car2.jpg');
    background-size: cover;
    background-position: center;
}
.gw-5{
    background: url('background/cars.jpg');
    background-size: cover;
    background-position: center;
}
.gw-6{
    background: url('background/car2.jpg');
    background-size: cover;
    background-position: center;
}
.gw-7{
    background: url('background/cars.jpg');
    background-size: cover;
    background-position: center;
}
.gw-8{
    background: url('background/car2.jpg');
    background-size: cover;
    background-position: center;
}
.gw-9{
    background: url('background/cars.jpg');
    background-size: cover;
    background-position: center;
}

.section-2{
    width: 100%;
    height: 50vh;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('background/back3.jpg');
   
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.section-2 h1{
    font-size: 2rem;
    color: #fff;
    margin: 20px 0;
}
.players{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.p-image{
    width: 200px;
    height: 200px;
    background: url('background/1648631508530.png');
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    position: relative;

}

.p-image-1::after {
    content: 'VS';
    position: absolute;
    right: -35px;
    bottom: 0;
    font-size: 2rem;
    color: rgb(255, 191, 72);
}

.players span{
    font-size: 1.5rem;
    color: rgb(255, 193, 79);
    font-weight: bold;
    margin-bottom: 10px;
}

.stars{
    color:rgb(255, 191, 73);

}
.p-image-2{
    background: url('background/1648631508530.png');
    background-size: cover;
    background-position: center;
}
/* }section end  */

.section-3{
    width: 100%;
    height: 80vh;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('background/back7.jpg');
    
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.section-3 h1{
    padding-top: 70px;
    font-size: 2rem;
    color: white;
    text-align: center;
    font-weight: 400;
}
.section-3-wrap{
    display: flex;
    min-height:70vh ;
    align-items: center;
    justify-content: center;

}

.feedback{
    width: 250px;
    height: 300px;
    background: url('background/1648636047764.jpg');
    background-position: center;
    background-size: cover;
    
    
}
.feedback-desc{
  
    width: 300px;
    height: 300px;
    background: rgba(0, 0, 0, 0.767);
    padding: 10px;
    color: white;
    margin-right: 10px;
}

.f-image-2{
    background: url('background/1648635976358.jpg');
    background-size: cover;
    background-position: center;
}






/* ...slider design   */
.container5 {
    height: 100vh;
    width: 100%;
    position: relative;
    text-align: center;
    overflow: hidden;
  }
  
  .title {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: -1;
    color: #ECEFF1;
    font-size: 120px;
    font-weight: 600;
  }
  
  .title-large {
    height: 130px;
    margin-left: -5px;
    opacity: 0.1;
  }
  
  .img-container {
    display: inline-block;
    overflow: hidden;
    margin-left: -2.8px;
    margin-right: -2.8px;
    width: 170px;
    vertical-align: top;
    border-radius: 0px 0px 80px 80px;
    animation-name: flow;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-delay: -2s;
    transition-timing-function: cubic-bezier(0,.57,1,.46);
    box-shadow: 2px 2px 16px 2px rgba(0,0,0,0.5);
  }
  
  .second-animation {
    animation-delay: -1.5s;
  }
  
  .third-animation {
    animation-delay: -1s; 
  }
  
  .fourth-animation {
    animation-delay: -0.5s; 
  }
  
  .fifth-animation {
    animation-delay: 0s; 
  }
  
  .sixth-animation {
    animation-delay: 0.5s; 
  }
    
  .seventh-animation {
    animation-delay: 1s;
  }
  
  .img {
    object-fit: cover;
    width: 170px;
    height: 100vh;
    margin-top: -60px;
  }
  
  .nba {
    margin-top: -20px;
  }
  
  @keyframes flow {
    0% {height: 20%; border-radius: 0px 0px 30px 30px;}
    50% {height: 90%; border-radius: 0px 0px 100px 100px;}
    100% {height: 20%; border-radius: 0px 0px 30px 30px;}
  }
  
  @media only screen and (max-width: 1200px) {
    #img-7 {
      display: none;
    }
  }
  
  @media only screen and (max-width: 1028px) {
    #img-1 {
      display: none;
    }
  }
  
  @media only screen and (max-width: 860px) {
    #img-6 {
      display: none;
    }
  }

/* slider design end  */




























/* footer start 00 */
.footer{
    background-color: #24262b;
    padding: 70px 0;
    
}
.footer-container{
max-width: 1170px;
margin: auto;
}

.f-col ul{
   list-style: none;
}

.f-row{
    display: flex;
    flex-wrap: wrap;
}
.f-col{
width: 25%;
padding: 0 15px;
}

.f-col h4{
margin-left: 15px;
margin-bottom: 20px;
font-size: 18px;
color: white;
text-transform: capitalize;
font-weight: 500;
position: relative;

}
.f-col h4::before{
content: '';
position: absolute;
left: 0;
bottom: -10px;
background-color: #e91e63;
height: 2px;
box-sizing: border-box;
width: 50px;
}

.f-col ul li:not(:last-child){
margin-bottom: 10px;

}
.f-col ul li a{
font-size: 16px;
text-transform: capitalize;
color: white;
text-decoration: none;
font-weight: 300;
color:#bbbbbb;
display: block;
transition: all 0.3s ease;
}
.f-col ul li a:hover{
color: #ffffff;
padding-left: 8px;
}

.f-col .social-links a{
display: inline-block;
height: 40px;
width: 40px;
background-color: rgba(255, 255, 255, 0.2);
margin: 0 10px 10px;
text-align: center;
line-height: 40px;
border-radius: 50%;
color: #ffffff;
transition: all 0.5s ease;


}

.f-col .social-links a:hover{
color: #24262b;
background-color: #ffffff;
}

/* footer responsive */
@media( max-width:767px){
.f-col{
    width: 50%;
    margin-bottom: 30px;
}
}

@media( max-width:574px){
.f-col{
    width: 100%;
    
}
}
